@page "/"

<PageTitle>CardsAgainstMatey</PageTitle>

<h1>Hello, world!</h1>

Cards against humanity.

Todo:
<ul>
    <li>Add a tutorial on this page.</li>
    <li>Player leaves a room when logging out</li>
    <li>Only one room per player</li>
    <li>Delete your own room</li>
    <li>Delete a player when he logs out</li>
    <li>save current cards and sentences to file</li>
    <li>list of sentences and answers after end of the game</li>
    <li>To check how many blanks sentence has and skip it if is more than in players hand</li>
</ul>

